.euiHeader {
  background: #fff;
  border-bottom-color: #262626;
}

.euiHeader .euiSelectableTemplateSitewide .euiFormControlLayout input {
    box-shadow: inset 0 0 0 1px hsl(231deg 11% 13%);
}

.euiHeader .euiSelectableTemplateSitewide .euiFormControlLayout:not(:focus-within) {
    color: rgb(29 30 36);
}

.euiHeader .euiSelectableTemplateSitewide .euiFormControlLayout:not(:focus-within) input {
    color: inherit;
    background-color: #b7b7b7;
}
.euiHeader .euiHeaderSectionItemButton {
    color: #1e1e1e;
    background: #27bb91;
}
.euiAvatar--s {
    background: white !important;
}
